@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat:wght@600;700;800&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --font-inter: "Inter", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}

@theme inline {

  --color-primary-1: #16A34A; 
  --color-primary-2: #14532D; 
  --color-primary-3: #F1F5F9; 
  --color-primary-4: #0F172A; 

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

.font-inter {
  font-family: var(--font-inter);
}

.font-montserrat {
  font-family: var(--font-montserrat);
}
